body {
  font-family: helvetica;
  background-image: url("hbone.jpg");
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 15px;
  display: flex;
  justify-content: center;
}
/* main area where content will be held */
.container {
  background-color: wheat;
  display: flex;
  width: 50%;
  align-content: flex-start;
  justify-content: center;
  margin: 25%;
  margin-bottom: 5%;
  margin-top: 10%;
}

.textarea {

}

/* area where number will be displayed */
#numberdisplay {
display: none;
}

#form {
  margin-top: 10%;
  align-content: center;
  display: flex;
}

#fizzbuzz {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 50px;
  color: red;
  font-weight: bold;
  align-content: center;
}


/* mobile display */

@media only screen and (max-width: 735px) {
    h1 {
    font-size: 1em;
    }

  h2 {
    margin-left: 10%;
  }

    .container {
      width: 100%;
      margin: 0;
    }

}
